
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
}
body{
    padding: 0 150px;
    font-family: work sans;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1400px; */
    /* min-height: 400px; */
    /* padding: 20px 150px; */
}
.nav-title{
    display: flex;
    align-items: center;
}
.nav-title img{
    width: 60px;
    height: 30px;
    
}
.nav-title p{
    font-size: 2.1rem;
    font-weight: 700;
}
.nav-menus ul{
    display: flex;
    align-items: center;
}
.nav-menus li{
    list-style: none;
    margin-left: 30px;
    
    
}
.nav-menus a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}
.nav-menus-social{
    font-weight: 500;
    color: #3C354F;
    padding: 10px 25px;
    background-color: rgba(11, 2, 35, 0.10);
    
}
.nav-menus-social a{
    margin-left: 10px;
}
.fa-youtube{
    color: red;
}
/* nav end here */

/* banner section starts here */
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 150px; */
}
.banner-description{
    width: 50%;
    background-image: url(images/Group\ 14.png);
    /* margin: auto; */
    background-size: 800px;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin-left: -400px;
    padding-left: 300px;
    /* margin-right: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 400px; */
}

.banner-description li{
    list-style: none;
}
.banner-img{
    width: 50%;
    /* margin-left: 200px; */
    /* padding-left: 100px; */
}
.banner-img img{
    width: 100%;
    margin-left: 200px;
}
.banner-description h1{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
}
.banner-description span{
    font-size: 4.25rem;
    background: linear-gradient(to bottom,#F948B2,#8758F1);
    color: transparent;
    -webkit-background-clip: text;
    
}
.banner-description ul{
    margin-top: -10px;
    margin-bottom: 30px;
}
.banner-description li{
    margin-top: 10px;
}
.banner-content{

}
.banner-btn{
    display: flex;
    justify-content: space-around;
}


.btn-primary{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: #FF42A5;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}
.bg-color{
    background: #4EC5F7;
}

/* online games section starts */
.online-games{
    /* padding: 0 150px; */
}
.online-games-description h1{
    color: #0B0223;
    font-weight: 700;
    font-size: 2rem;
}
.online-games-description p{
    color: #534C64;
    
}
.span-color{
    background: linear-gradient(to bottom,#F948B2,#8758F1);
    color: transparent;
    -webkit-background-clip: text;
}
.online-games-description{
    text-align: center;
    margin-top: 70px;
}
.games-card-container{
    display: grid;
    /* border: 1px solid; */
    margin: 50px auto 0;
    
    grid-template-columns: repeat(4,1fr);
}
.cards img{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.cards p{
    padding: 0 30px;
}
.main-card{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #000000;

}
.main-card:hover .overlay{
    opacity: 1;
}
.icon, .content{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    /* display: block; */
}
.content{
    font-size: 20px;
    top: 60%;
}
.image{
    width: 100%;
    height: auto;
}
.fa-solid:hover{
    color:#eee;
}

/* FTP SECTION STARTS */
.FTP-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    text-align: right;
    /* padding: 0 150px; */
}

.FTP-img{
    width: 50%;
    position: relative;
}
.FTP-img .RDR-img{
    width: 80%;
    
    
}
.FTP-description h2{
    font-size: 2rem;
    font-weight: 700;

}
.FTP-description p{
    color: #534C64;
}
.FTP-img .MTA-img{
    width: 40%;
    position: absolute;
    top: 300px;
    left: 20px;
}

/* tag section starts */
.tag-section{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(5, 1fr); */
    gap: 20px;
    justify-content: center;
    align-content: center;
    /* padding: 0 200px; */
}
.tags button:hover{
    color: #FF42A5;
    border: 1px solid #FF42A5;
    
}
.tags img{
    width: 40px;

}
.tags button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    gap: 10px;
    /* padding-right: 15px; */
}
.tags span{
    font-weight: 600;
    font-size: 16px;
}


/* footer section starts here */
footer{
    background-color: #0B0223;
    /* margin: 50px auto; */
    margin: 70px -150px 10px;
    /* padding: 0; */
    padding-top:  70px;
    padding-bottom:  110px;

    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    
}
.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.footer-title img{
    width: 60px;
    height: 30px;
    
}
.footer-title p{
    font-size: 2.1rem;
    font-weight: 700;
    color: white;
}
footer > p{
    font-weight: 500;
}
.list-tags ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.list-tags li{
    list-style: none;
    margin-left: 40px;
    margin-bottom: 10px;
}
.list-tags a{
    text-decoration: none;
    color: white;
    text-align: center;
    
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    flex-wrap: wrap;
}
.btn-container a{
    color: white;
    
}
.btn-container .fa-brands{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 576px) {
    nav,.nav-menus ul,.FTP-section{
        flex-direction: column;
    }
    .banner-img img{
        
        margin-left: 0;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .tag-section{
        margin-bottom: 20px;
    }
    .banner-description{
        margin: 0.1px;
        padding-left: 0;
        
        width: 90%;
        height: 100%;
        
    }
    .banner-content{
        margin-bottom: 50px;
        margin-top: 50;
    }
    .banner-img{
        width: 100%;
    }
    .nav-menus ul{
        text-align: center;
        margin-left: -60px;
        
    }
    .nav-menus li{
        margin-bottom: 20px;
    }
    body{
        padding: 0 10px;
    }
    .games-card-container{
        grid-template-columns: 1fr;
    }
    .cards p{
        text-align: center;
        
    }
    
    .FTP-img{
        width: 100%;
        position: relative;
    }
    .FTP-img .MTA-img{
        width: 40%;
        position: absolute;
        top: 200px;
        left: 20px;
    }
    .FTP-img .RDR-img{
        width: 80%;   
    }
    .FTP-description{
        text-align: center;
    }
    .list-tags ul{
        margin-left: -40px;
    }
    footer{
        margin: 0 -15px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav,.nav-menus ul,.FTP-section{
        flex-direction: column;
    }
    .nav-menus li{
        margin-bottom: 20px;
        margin-left: -60px;
    }
    .banner-content{
        margin-bottom: 50px;
        margin-top: 50;
    }
    .banner-description{
        margin: 0.1px;
        padding-left: 0;
        width: 90%;
        height: 100%;
    }
    .banner-img{
        width: 100%;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding: 0 auto;
    }
    .games-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .FTP-img{
        width: 100%;
        position: relative;
    }
    .FTP-img .MTA-img{
        width: 40%;
        position: absolute;
        top: 200px;
        left: 20px;
    }
    .FTP-img .RDR-img{
        width: 80%;   
    }
    .FTP-description{
        text-align: center;
    }
    
}